.vs
/.vs
.vscode
./.vscode
.DS_Store
obj
./obj

./BlazorAppEC/Client/bin
./BlazorAppEC/Client/obj
./BlazorAppEC/Server/bin
./BlazorAppEC/Server/obj
./BlazorAppEC/Shared/bin
./BlazorAppEC/Shared/obj

BlazorAppEC/Client/bin
BlazorAppEC/Client/obj
BlazorAppEC/Server/bin
BlazorAppEC/Server/obj
BlazorAppEC/Shared/bin
BlazorAppEC/Shared/obj

Tailwindcss
./Tailwindcss