@page "/"
@page "/home"
@using BlazorAppEC.Client.Shared.Components.Client
@using BlazorAppEC.Client.Shared.Components
@using BlazorAppEC.Shared

@inject IHomePageVM _homePageVM

<ClientHeader />

<div class="container">
    <h2 class="text-5xl mt-4">NEW PRODUCTS</h2>
    <hr class="offset-md">

    <div class="row products">
        @if (_homePageVM.LatestProduct.Count() == 0)
        {
            <BlazorAppEC.Client.Shared.Components.Loading />
        }
        else
        {
            @foreach (var product in _homePageVM.LatestProduct)
            {
                <div class="col-sm-6 col-md-3 product flex flex-col">
                    <BlazorAppEC.Client.Shared.Components.Client.ProductItem product="product" />
                </div>
            }
        }
    </div>
</div>

<div class="container">
    <h2 class="text-5xl mt-5">RECOMMENDATION FOR YOU</h2>
    <hr class="offset-md">

    <div class="row products">
        @if (_homePageVM.BestSeller.Count() == 0)
        {
            <BlazorAppEC.Client.Shared.Components.Loading />
        }
        else
        {
            @foreach (var product in _homePageVM.BestSeller)
            {
                <div class="col-sm-6 col-md-3 product flex flex-col">
                    <BlazorAppEC.Client.Shared.Components.Client.ProductItem product="product" />
                </div>
            }
        }
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        _homePageVM.LatestProduct = await _homePageVM.GetLatestProduct();
        _homePageVM.BestSeller = await _homePageVM.GetBestSellerProduct();
    }
}