@page "/"
@page "/home"

@inject IHomePageVM _homePageVM

<ClientHeader />

<div class="container">
    <h2 class="text-5xl mt-4">Sản phẩm mới</h2>
    <div class="row products">
        @if (_homePageVM.LatestProduct.Count() == 0)
        {
            <Loading />
        }
        else
        {
            @foreach (var product in _homePageVM.LatestProduct)
            {
                <div class="col-sm-6 col-md-3 product flex flex-col">
                    <ProductItem product="product" />
                </div>
            }
        }
    </div>
</div>

<div class="container">
    <h2 class="text-5xl mt-5">Có thể bạn sẽ thích</h2>
    <div class="row products">
        @if (_homePageVM.BestSeller.Count() == 0)
        {
            <Loading />
        }
        else
        {
            @foreach (var product in _homePageVM.BestSeller)
            {
                <div class="col-sm-6 col-md-3 product flex flex-col">
                    <ProductItem product="product" />
                </div>
            }
        }
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        _homePageVM.LatestProduct = await _homePageVM.GetLatestProduct();
        _homePageVM.BestSeller = await _homePageVM.GetBestSellerProduct();
    }
}