@page "/product/{slug?}"
@inject IHomePageVM _homePageVM
@inject ICartService _cartService
@inject NavigationManager _navigate

<hr class="offset-lg">
<div class="product">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="carousel product" data-count="5" data-current="1">
          <div class="items">
            <div class="item active" data-marker="1">
              <img src="@_homePageVM.Product.Image" alt="ChromeBook 11" />
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-md-6">

        <h1>@_homePageVM.Product.Name</h1>
        <p class="whitespace-pre-line	">
          @_homePageVM.Product.Description
        </p>
        <br><br>
        <p class="price">
          @(String.Format("{0:n0}", _homePageVM.Product.Price)) <sup>vnd</sup>
        </p>
        <br><br>

        <button class="btn btn-primary btn-rounded" @onclick=@(() => _cartService.AddToCart(_homePageVM.Product))> <i class="ion-bag"></i> Thêm vào giỏ</button>
      </div>
    </div>
    <br>

  </div>
</div>
<br />

@code {
  [Parameter]
  public string slug { get; set; }

  protected async override Task OnInitializedAsync()
  {
    await _homePageVM.GetProductDetail(slug);
    if(_homePageVM.Product.Name == string.Empty) {
      _navigate.NavigateTo("/category");
    }
    Console.Write(_homePageVM.Product.Description);
  }

}
