@page "/admin/manufacture-manage/add"
@inject NavigationManager _navigation
@inject IManufactureAddVM _manufactureAdd
@inject IToastService _toastService

<header class='flex justify-end items-center py-4 sticky top-0 inset-x-0 bg-white z-10 shadow-lg px-10 space-x-3'>
    <a class="text-xs py-2 px-5 bg-gray-500 hover:bg-gray-600 transition-all text-gray-50" href="admin/category-manage" disabled="@isLoading">Huỷ</a>
    <button class="text-xs py-2 px-5 bg-blue-500 hover:bg-blue-600 transition-all text-gray-50" @onclick="Create" disabled="@isLoading">Lưu</button>
</header>
<main class="px-10 mt-5">
    <h3 class="font-semibold text-2xl border-b pb-2">Tạo thuơng hiệu</h3>
    <div class="grid grid-cols-6 mt-2 gap-4">
        <div class="col-start-2 col-span-4 space-y-3">
            <div>
                <label>Tên thuơng hiệu</label>
                <input @bind-value="_manufactureAdd.Manufacture.Title" type="text" class="border w-full px-3 py-2 mt-1 focus:ring-gray-700 focus:ring-2 transition-all outline-none" placeholder="Nhập tên thuơng hiệu">
            </div>
        </div>
    </div>
</main>

@code {
    private bool isLoading = false;
    public async Task Create()
    {
        isLoading = true;
        bool response = await _manufactureAdd.CreateManufacture();
        if(response) {
            _toastService.ShowSuccess("","Thêm thành công");
            await Task.Delay(3000);
            isLoading = false;
            _navigation.NavigateTo("admin/manufacture-manage");
        } else {
            _toastService.ShowError("", "Thêm thất bại. Vui lòng thử lại");
        }
        isLoading = false;
    }
}